<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <form method="post" action="/chats/<%=chat._id%>?_method=PUT">
        <h1>edit here</h1>
        <p>Chat id : <%=chat._id%></p>
        <input type="text" name="from" placeholder="<%=chat.from%>">
        <br><br>
        <input type="text" name="to" placeholder="<%=chat.to%>">
        <br><br>
        <textarea name="msg"><%=chat.msg%></textarea>
        <br><br>
        <button>Edit message!</button>
    </form>
</body>
</html>