<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All chats</h1>
    <form method="GET" action="/chats/new">
        <button class="btn"><b>New Message</b></button>
    </form>
    <% for(chat of chats){ %>
    <div class="chat">
    <p>From :<i><%= chat.from %></i></p>   
    <p>To : <i><%= chat.to %></i></p> 
    <p class="msg" >Message : <b><%=chat.msg %></b>
        <div class="form">
            <form method="GET" action="/chats/edit/<%=chat._id%>">
                <button class="btnEdit"><b>Edit chat</b></button>
            </form>
        </div>
       
        <div class="form">
            <form method="POST" action="/chats/<%=chat._id%>?_method=DELETE">
                <button class="btnEdit"><b>Delete chat</b></button>
            </form>
        </div>
        
    </p>
       
    <hr/>
    <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
    <p><%=chat.created_at.toString().split(" ")[4]%></p>
    </div>
    <% } %>
    <br><br>
    
</body>
</html>